.col-xs-1-9,
.col-sm-1-9 {
  position: relative;
  min-height: 1px;
}

.col-xs-1-9 {
  width: 11.11%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-1-9 {
    width: 11.11%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-1-9 {
    width: 11.11%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-1-9 {
    width: 11.11%;
    float: left;
  }

}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
  }


  .sl-nav {
    display: inline;
    font-size: 12px;
  }
  .sl-nav ul {
    margin:0;
    padding:0;
    list-style: none;
    position: relative;
    display: inline-block;
   
  }
  .sl-nav > ul { margin-top: 10px;}
  .sl-nav li {
    cursor: pointer;
    padding-bottom:10px;
  }
  .sl-nav li ul {
    display: none;
  }
  .sl-nav li:hover ul {
    position: absolute;
    top:29px;
    right:-15px;
    display: block;
    background: #fff;
    /* width: 120px; */
    padding-top: 0px;
    z-index: 1;
    border-radius:5px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    /*border-bottom: 4px solid #c7196b;*/
    border-bottom: 4px solid #000000;
  }
  .sl-nav li:hover ul{width: 120px;margin-top: 15px;}
  .sl-nav.user-nav li:hover ul{width: 165px;}


  .sl-nav li:hover .triangle {
    position: absolute;
    top: 15px;
    right: -10px;
    z-index:10;
    height: 14px;
    overflow:hidden;
    width: 30px;
    background: transparent;
  }
  .sl-nav li:hover .triangle:after {
    content: '';
    display: block;
    z-index: 20;
    width: 15px;
    transform: rotate(45deg) translateY(0px) translatex(10px);
    height: 15px;
    background: #fff;
    border-radius:2px 0px 0px 0px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  }
  .sl-nav li ul li {
    position: relative;
    text-align: left;
    background: transparent;
    padding: 15px 15px;
    padding-bottom:0;
    z-index: 2;
    font-size: 15px;
    color: #3c3c3c;
  }
  .sl-nav li ul li:last-of-type {
    padding-bottom: 15px;
  }
  .sl-nav li ul li span {
    padding-left: 5px;
    font-size: 12px;
  }
  .sl-nav li ul li span:hover, .sl-nav li ul li span.active {
    color: #146c78;
  }
  .sl-flag {
    display: inline-block;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
    width: 15px;
    height: 15px;
    /* background: #aaa; */
    border-radius: 50%;
    position: relative;
    top: 2px;
    overflow: hidden;
  }
  .sl-nav li ul li:hover a span {color: #cc136d;}

.licss{
    margin:0px !important;
}